* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-weight: bold;
    font-family: "Arial";
}

ul {
    list-style: none;
}

.hiddenmenu {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #2a3644;
    max-height: 46px;
}

.hiddenmenu a {
    display: block;
    padding: 14px 32px 13px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.food_menu:hover>.sub-menu{
    display: block;
    transition: all 1s ease;
    padding: 0px;
}

.sub-menu {
    display: none;
    position: relative;
    top: 10%;
    background-color: #d2d4d5;
}

.sub-menu a{
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
}

.sub-menu li+li{
 border-top: 1px solid #b9bdc1;
}
 

 .hiddenmenu::before{
    content:"";
    position:absolute;
    top: -25px;
    left: 0;
    border-top: 20px solid transparent;
 }

